<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kicktipp Matches</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header>
        <h1>Kicktipp Matches</h1>
        <nav>
            {% block navigation %}{% endblock %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('show_matches', matchday='gesamt') }}">Gesamtübersicht</a>
            </li>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>

</html>